.certifications {
    background-color: #000808;
    padding: 40px;
    overflow: hidden;
    color: #f0f8ff;
    text-align: center;
}

.hex-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
    grid-gap: 10px;
    margin-top: 20px;  
}

.circle {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Maintains a 1:1 aspect ratio for the circle */
    background-color: rgb(212, 233, 51);
    border-radius: 50%; /* Makes it a circle */
}

.circle span a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(10, 0, 0);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.circle::before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Creates space for the content */
}

@media only screen and (max-width: 1468px) {
    .circle span a {
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }
}
@media only screen and (max-width: 1250px) {
    .circle span a {
        font-size: 0.7em; /* Adjust font size for smaller screens */
    }
}
@media only screen and (max-width: 1150px) {
    .circle span a {
        font-size: 0.6em; /* Adjust font size for smaller screens */
    }
}
@media only screen and (max-width: 950px) {
    .hex-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
        grid-gap: 10px;
        margin-top: 20px;  
    }
    .circle span a {
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }
}
@media only screen and (max-width: 810px) {
    .hex-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 10px;
        margin-top: 20px;  
    }
    .circle span a {
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }
}
@media only screen and (max-width: 600px) {
    .hex-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 10px;
        margin-top: 20px;  
    }
    .circle span a {
        font-size: 0.6em; /* Adjust font size for smaller screens */
    }
}
@media only screen and (max-width: 510px) {
    .hex-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
        grid-gap: 10px;
        margin-top: 20px;  
    }
    .circle span a {
        font-size: 0.5em; /* Adjust font size for smaller screens */
    }
}
